<head><title>Listado de Productos</title></head>
<div class="intro-header4">
<div class="animated bounceInDown" style="margin-top:1%" align="center">
    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
        <span style="font-size:13px;">{{resultado.mensaje}}</span><br><br>
    </div>
	<div class="divListaProductos" style="width:50%;" ng-repeat="producto in ListadoProductos">
		<h4 class="h2Login">{{producto.nombre}}</h4>
		<p style="font-size:13px"><font color="gray">{{producto.descripcion}}</font></p>
		<p style="font-size:13px"><font color="gray">${{producto.precio}}</font></p>
		<p style="font-size:13px" ng-if="producto.vigente==1"><font color = "green">Disponible</font></p>
		<p style="font-size:13px" ng-if="producto.vigente==0"><font color = "red">No está disponible</font></p>
		<input type="submit" value="Modificar" class="btnLogin" style="width:32%" ng-click="Modificar(producto)">
		<input type="submit" value="Deshabilitar" class="btnLogin" style="width:32%" ng-click="Bloquear(producto)" ng-if="producto.vigente==1">
		<input type="submit" value="Habilitar" class="btnLogin" style="width:32%" ng-click="Desbloquear(producto)" ng-if="producto.vigente==0">
		<input type="submit" value="Eliminar" class="btnLogin" style="width:32%" ng-click="Eliminar(producto)">
		<br>
	</div>
</div>	
</div>