<head><title>Alta de Pedido</title></head>
<div class="intro-header9">
<div class="divLogin animated bounceInUp" style="margin-top:1%;">
	    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
	        <span style="font-size:13px;">{{resultado.mensaje}}</span><br><br>
	    </div>
        <h2 class="h2Login">Complete los campos:</h2><br>
    <div class="row">
	    <div class="col-lg-12">
			<form id="formPedido" name="formPedido" enctype="multipart/form-data" novalidate>
			<font color="gray" align="left">Seleccione una Oferta:</font>
			<font color="black"><hidden ng-init="pedidoOferta.descripcion='2 Docenas de Empanadas'">
			<select  ng-model="pedidoOferta.descripcion"  class="txtLogin" style="width:100%;"required>
			    	<option ng-repeat="oferta in ListadoOfertas track by $index" value="{{oferta.descripcion}}">{{oferta.descripcion}}</option>  
		    </select></font>
			<font color="black"><input type="text" placeholder="Unidades" class="txtLogin" name="unidades" ng-model='pedidoOferta.unidades' required></font>
			<font color="gray" align="left">Indique la Fecha:</font>
	    	<font color="black"><input type="date" class="txtLogin" name="fechaPedido" ng-model='pedidoOferta.fechaPedidoOferta' required></font>
			<font color="black" ng-if="usuario.perfil!='cliente'"><input type="text" placeholder="Nro del cliente" class="txtLogin" name="idUsuario" ng-model='pedidoOferta.idUsuario' required></font>
			<font color="gray" align="left">Seleccione un Local:</font>
			<font color="black"><hidden ng-init="pedidoOferta.idLocal='1'"></hidden>
			<select  ng-model="pedidoOferta.idLocal"  class="txtLogin" style="width:100%;" required>
			    	<option ng-repeat="local in ListadoLocales track by $index" value="{{local.idLocal}}">{{local.localidad}}</option>  
		    </select></font>
	    	<input type="submit" value="Guardar pedido" class="btnLogin" ng-if="!formPedido.$invalid" ng-click="Guardar()">
			</form>
    	</div>
	</div>
</div>
</div>