<div class="intro-header4">
<div class="divLogin animated bounceInUp" name="formProducto">
    <div class="row">
	    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
	        <span style="font-size:20px;">{{resultado.mensaje}}</span>
	    </div>
        <h2 class="h2Login2">Complete los campos:</h2>
    </div>
    <div class="row">
	    <div class="col-lg-12">
    		<font color="black"><input type="text" placeholder="Nombre" class="txtLogin" name="nombre" ng-model='producto.nombre' required></font>
	    	<font color="black"><input type="text" placeholder="Descripcion" class="txtLogin" name="descripcion" ng-model='producto.descripcion' required></font>
	    	<font color="black"><input type="text" placeholder="Precio" class="txtLogin" style="width:50%; display: block" name="precio" ng-model='producto.precio' required></font>
	    	<input type="submit" value="Guardar" class="btnLogin3" ng-disabled="formProducto.$invalid" ng-click="Guardar()">
    	</div>
	</div>
</div>
</div>