<head><title>Listado de Clientes</title></head>
<div class="intro-header5">
<div class="animated bounceInDown" style="margin-top:1%" align="center">
	<div class="divListaUsuarios" ng-repeat="usuario in ListadoUsuarios" style="width:50%">
			<h4 class="h2Login">{{usuario.nombre}}</h4>
			<p style="font-size:13px"><font color="gray">{{usuario.correo}}</font></p>
			<p style="font-size:13px" ><font color="red" ng-if="usuario.idUsuario<5">Al estar cargado por defecto, NO se puede modificar.</font></p>
			<p style="font-size:13px" ng-if="usuario.agregado==1"><font color = "green">Libre de ingreso.</font></p>
			<p style="font-size:13px" ng-if="usuario.agregado==0"><font color = "red">Bloqueado</font></p>
	</div>
</div>
</div>