<head><title>Login</title></head>
<div class="intro-header2">
<div class="divLogin animated bounceInLeft" name="loginForm" style="margin-top:1%">
 <div class="{{resultado.estilo}}" ng-show="resultado.ver">
        <span style="font-size:13px;">{{resultado.mensaje}}</span>
    </div><br>
  <div class="row">
    <div>
	  <form id="loginForm" name="loginForm" enctype="multipart/form-data" novalidate>
      <h2 class="h2Login">Iniciar Sesión:</h2>
      <font color="black"><input type="text" placeholder="Nombre" class="txtLogin" name="nombre" ng-model="usuario.nombre" required></font>
      <font color="black"><input type="email" placeholder="Correo" class="txtLogin" name="correo" ng-model="usuario.correo" required></font>
      <font color="black"><input type="password" placeholder="Clave" class="txtLogin" name="clave" ng-model="usuario.clave" required></font>
	  <font color="black"><input type="password" placeholder="Repita clave" class="txtLogin" name="copiadeclave" ng-model="usuario.copiadeclave" required></font>
	  
		<font color="green" style="font-size:13px;">No estoy bloqueado                                                        
		</font><input type="radio" name="agregado" ng-model="usuario.agregado" value="1"/><br>
	  <br>
      <input type="submit" value="Loguearse" ng-if="!loginForm.$invalid && usuario.agregado && (usuario.clave == usuario.copiadeclave)" class="btnLogin" ng-click="Verificar()"><br><br>
	  </form>
    </div>
  </div>
  <div align="center">
    <input type="submit" value="Soy Admin" class="btnLogin" style="width:49%; display:inline" ng-click="Acceso('Administrador','admin@admin.com', '123456', '1', '123456')">
    <input type="submit" value="Soy Encargado" class="btnLogin" style="width:49%; display:inline" ng-click="Acceso('Encargado','encargado@encargado.com', '123456', '1', '123456')">
    </div>
	<div align="center">
	<br><input type="submit" value="Soy Empleado" class="btnLogin" style="width:49%; display:inline" ng-click="Acceso('Empleado','empleado@empleado.com', '123456', '1', '123456')">
	<input type="submit" value="Soy Cliente" class="btnLogin" style="width:49%; display:inline" ng-click="Acceso('Cliente','cliente@cliente.com', '123456', '1', '123456')">
  </div>
       <p class="text-center text-muted" ng-if="mibandera">
	   <br><br>
        <font style="font-size:13px;">Si todavía no tenés una cuenta: </font><small><a ui-sref="login.registroEC()"><font color="yellow" style="font-size:13px;">Registrate!!</font></a></small>
      </p>
</div>
</div>