<head><title>Modificación de Cuenta</title></head>
<div class="intro-header2">
<div class="divLogin animated bounceInRight" name="loginForm" style="margin-top:1%;">
    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
        <span style="font-size:13px;">{{resultado.mensaje}}</span><br><br>
    </div>
    <font color="black">
	<div class="row">
		<form id="formAlta" name="formAlta" enctype="multipart/form-data" novalidate>
        <h2 class="h2Login">Modificar cuenta:</h2><br>
		<font color="gray">Nombre:</font>
    	<input type="text" placeholder="Nombre" class="txtLogin" name="nombre" ng-model='usuario.nombre' required>
		<font color="gray">Correo:</font>
	    <input type="email" placeholder="Email" class="txtLogin" name="correo" ng-model='usuario.correo' required>
	    <input type="submit" value="Guardar datos" class="btnLogin" ng-if="!formAlta.$invalid" ng-click="Guardar()">
		</form>
    </div>
	</font>
</div>

