<head><title>Alta de Usuarios</title></head>
<div class="intro-header2">
<div class="divLogin animated bounceInRight" name="loginForm" style="margin-top:2%">
    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
        <span style="font-size:20px;">{{resultado.mensaje}}</span>
    </div>
    <div class="row">
        <h2 class="h2Login">Complete los campos:</h2>
    </div>
    <div class="row">
		<div class="col-lg-12">
			<form id="formAlta" name="formAlta" enctype="multipart/form-data" novalidate>
    		<font color="black"><input type="text" placeholder="Nombre" class="txtLogin" name="nombre" ng-model='usuario.nombre' required></font>
	    	<font color="black"><input type="email" placeholder="Correo" class="txtLogin" name="correo" ng-model='usuario.correo' required></font>
	    	<font color="black"><input type="password" placeholder="Clave" class="txtLogin" name="clave" ng-model='usuario.clave' required></font>
	    	<font color="black">
			<font color="black"><select ng-model="usuario.perfil" class="txtLogin">
		    	<option value="empleado">Empleado</option>
				<option value="cliente">Cliente</option>
		    </select></font>
	    	<input type="submit" value="Guardar Datos" class="btnLogin" ng-if="!formAlta.$invalid" ng-click="Guardar()">
			</form>
	    </div>
    </div>
</form>
</div>
