<head><title>Alta de Usuarios</title></head>
<div class="intro-header2">
<div class="divLogin animated bounceInRight" name="loginForm" style="margin-top:2%">
    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
        <span style="font-size:13px;">{{resultado.mensaje}}</span><br><br>
    </div>
    <div class="row">
        <h2 class="h2Login">Complete los campos:</h2>
    </div>
    <div class="row">
		<div class="col-lg-12">
			<form id="formAlta" name="formAlta" enctype="multipart/form-data" novalidate>
    		<font color="black"><input type="text" placeholder="Nombre" class="txtLogin" name="nombre" ng-model='usuario.nombre' required></font>
	    	<font color="black"><input type="email" placeholder="Correo" class="txtLogin" name="correo" ng-model='usuario.correo' required></font>
	    	<font color="black"><input type="password" placeholder="Clave" class="txtLogin" name="clave" ng-model='usuario.clave' required></font>
			<font color="black"><input type="password" placeholder="Repita clave" class="txtLogin" name="copiadeclave" ng-model='usuario.copiadeclave' required></font>
	    	<font color="black">
	    	<input type="submit" value="Guardar datos" class="btnLogin" ng-if="!formAlta.$invalid && (usuario.clave == usuario.copiadeclave)" ng-click="Guardar()">
			</form>
	    </div>
    </div>
</form>
</div>
