<div class="intro-header2">
<div class="divLogin animated bounceInRight" name="loginForm">
    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
        <span style="font-size:20px;">{{resultado.mensaje}}</span>
    </div>
    <font color="black">
	<div class="row">
        <h2 class="h2Login">Modificar cuenta:</h2>
    	<input type="text" placeholder="Nombre" class="txtLogin" name="nombre" ng-model='usuario.nombre' required>
	    <input type="text" placeholder="Email" class="txtLogin" name="correo" ng-model='usuario.correo' required>
	    <input type="submit" value="Guardar Datos" class="btnLogin" ng-disabled="formAlta.$invalid" ng-click="Guardar()">
    </div>
	</font>
</div>

