<head><title>Listado de Locales</title></head>
<div class="intro-header8">
<div class="animated bounceInDown" style="margin-top:1%" align="center">
    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
        <span style="font-size:13px;">{{resultado.mensaje}}</span><br><br>
    </div>
	<div class="divListaProductos" style="width:50%;" ng-repeat="local in ListadoLocales">
		<h4 class="h2Login">Sucursal {{local.localidad}}</h4>
		<p style="font-size:13px"><font color="gray">{{local.calle}} {{local.numero}}.</font></font></p>
		<input type="submit" value="Modificar" class="btnLogin" style="width:32%" ng-click="Modificar(local)" ng-if="!escliente">
		<input type="submit" value="Eliminar" class="btnLogin" style="width:32%" ng-click="Eliminar(local)" ng-if="!escliente">
		<br>
	</div>
</div>	
</div>