<head><title>Alta de Pedidos</title></head>
<div class="intro-header7">
<div class="divLogin animated bounceInUp" style="margin-top:1%;">
	    <div class="{{resultado.estilo}}" ng-show="resultado.ver">
	        <span style="font-size:13px;">{{resultado.mensaje}}</span><br><br>
	    </div>
        <h2 class="h2Login">Complete los campos:</h2>
    <div class="row">
	    <div class="col-lg-12">
			<form id="formPedido" name="formPedido" enctype="multipart/form-data" novalidate>
    		<font color="black"><input type="text" placeholder="Descripcion" class="txtLogin" name="descripcion" ng-model='pedido.descripcion' required></font>
			<font color="black"><input type="text" placeholder="Unidades" class="txtLogin" name="unidades" ng-model='pedido.unidades' required></font>
	    	<font color="black"><input type="text" placeholder="Precio" class="txtLogin" name="precio" ng-model='pedido.precio' required></font>
	    	<font color="black"><input type="date" class="txtLogin" name="fechaPedido" ng-model='pedido.fechaPedido' required></font>
	    	<input type="submit" value="Guardar pedido" class="btnLogin" ng-if="!formPedido.$invalid" ng-click="Guardar()">
			</form>
    	</div>
	</div>
</div>
</div>